<h3>Default Card</h3>

<a href="@Url" class="@cardClass">
	<h5 class="@titleClass">@Title</h5>
	<p class="@descriptionClass">@Description</p>
</a>


@code {
	[Parameter] public string Title { get; set; } = "Noteworthy technology acquisitions 2021";
	[Parameter] public string Description { get; set; } = "Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.";
	[Parameter] public string Url { get; set; } = "#";

	private string cardClass = "block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700";
	private string titleClass = "mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white";
	private string descriptionClass = "font-normal text-gray-700 dark:text-gray-400";
}
